.form-group-file {
  position: relative;
  cursor: pointer;
  display: block;

  .form-control {
    border: 0;
  }

  .form-control-file {
    position: absolute;
    opacity: 0;
    left: -1000px;
    cursor: pointer;
  }
}

.form-control__text--full {
  display: block;
  background-color: $black;
  padding: 4px 10px;
  margin-bottom: 15px;
  color: $white;
  width: 100%;
  overflow: hidden;
}
