.box {
  padding: 15px;
  background-color: $grey-4;

  &.box--padded {
    @include media(tablet) {
      padding: 30px;
    }
  }

  &.box--padded + .box--padded {
    margin-top: 30px;
  }


  [class*='heading-'] {
    margin-top: .2em;
    margin-bottom: .15em;
  }

  &.box--muted {
    background-color: lighten($grey-4, 2%);
    color: $grey-1;
  }

  &.box--flat {
    background-color: $white;
    padding: 0;

    & + .box--flat {
      margin-top: 30px;
    }

    &.comment-admin,
    &:nth-child(even) {
      padding: 15px !important;
      background-color: lighten($light-blue-25, 5%) !important;
    }
  }

  // naming things can be hard.
  .heading-special {
    margin: -15px -15px 0 -15px;
    background-color: $green;
    padding: 10px;
    color: $white;
  }

  .grid-row {
    margin-top: 15px;
  }
}

.has-byline {
  padding-left: 60px;
}
