.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs__item {
  flex-grow: 1;
  text-align: center;

  & + .tabs__item {
    .tabs__link {
      border-left: 0;
    }
  }
}

.tabs__link {
  position: relative;
  padding: 10px 30px 10px 15px;
  display: block;
  border: solid;
  border-width: 1px;
  margin-bottom: -1px;
  border-color: $govuk-blue;
  background-color: lighten($govuk-blue, 65%);

  .close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -.5em;
    display: none;
    font-size: 140%;
    font-weight: bold;
  }
}

.tabs__link[aria-selected='true'] {
  border-color: $govuk-blue;
  border-bottom-color: $white;
  background-color: $white;
  text-decoration: none;
  margin-bottom: 0;
  color: $black;
  cursor: default;

  .close {
    display: block;
  }
}
