.hero-links {
  background-color: $black;
  padding: 15px;
  position: relative;
  bottom: -30px;

  @include media(tablet) {
    position: absolute;
    bottom: -45px; // this is to match / offset the bottom padding of the hero
    right: 15px;
    width: 22%;
  }

  &.hero-links--top {
    @include media(tablet) {
      top: 0;
      bottom: auto;
    }
  }

  .badge {
    margin-right: 0;
  }

  &.hero-links--light {
    background-color: $white;
  }
}
