.button {

  &.button--full-width {
    width: 100%;
    text-align: center;
  }

  &.button--half-width {
    width: 50%;
    text-align: center;
  }

  &.button--link {
    background-color: transparent;
    text-decoration: underline;
    color: inherit;
    border-color: transparent;
    box-shadow: none;
  }
}

