.button {

  &.button--full-width {
    width: 100%;
    text-align: center;
  }

  &.button--half-width {
    width: 50%;
    text-align: center;
  }

  &.button--link {
    background-color: transparent;
    text-decoration: underline;
    color: inherit;
    border-color: transparent;
    box-shadow: none;
  }

  &.button--secondary {
    background-color: $govuk-blue;
  }

  &.button--large {
    font-size: 160%;
  }

  .bg-dark {
    :link,
    :visited,
    :hover {
      color: $govuk-blue;
    }
  }

}

.button-group {
  padding-top: 30px;
  padding-bottom: 30px;

  .button + .button {
    margin-top: 15px;
  }

  @include media(tablet) {
    .button + .button {
      margin-top: 0;
    }
  }
}
