

.spinner {
  $diameter: 14px;
  position: relative;
  min-height: $diameter + 20px;
  padding-right: $diameter * 4;

  &::after {
    transition: 2.5s opacity linear;
    opacity: 0;
    position: absolute;
    content: '';
    display: block;
    width: $diameter;
    height: $diameter;
    transform-origin: center center;
    top: 50%;
    right: ($diameter / 2);
    margin-top: -($diameter - 3);
    border-width: 6px;
    border-style: solid;
    border-color: transparent $white transparent $white;
    border-radius: 50%;
    overflow: hidden;
    animation: spinner .6s infinite linear;
  }


  &.spinner--medium {
    $diameter: 50px;
    position: relative;
    min-height: 0;
    padding-right: 0;
    padding-top: $diameter * 1.5;

    &::after {
      width: $diameter;
      height: $diameter;
      right: ($diameter / 2);
      margin-top: -($diameter - 3);
    }
  }


  &.spinner--white {
    position: relative;

    &::after {
      top: $diameter;
      left: 50%;
      right: auto;
      margin-left: -30px;
      border-color: transparent $white transparent $white;
      animation: spinner 1.2s infinite linear;
    }
  }

  .spinner__inner {
    display: inline-block;
    text-align: center;
  }
}

.loading {
  background-color: rgba($green, .8);
  padding: 15px;
  font-size: 24px;
  font-weight: bold;

  a {
    color: $white;
  }

  &.fixed {
    position: fixed;
    left: 40%;
    top: 40%;
    z-index: 1000;
  }
}

.spinner--active {
  &::after {
    opacity: 1;
  }
}

@keyframes spinner {
  0% { transform: rotate(0); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
