.bg-black {
  color: $white;
  background-color: $black;
}

.bg-pink {
  background-color: $pink;
}

.bg-orange {
  background-color: $orange;
}

.bg-red {
  color: $white;
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.bg-grey {
  background-color: $grey-4;
}

.bg-dark-grey {
  color: $white;
  text-decoration: none;
  background-color: $grey-1;
}

.bg-blue {
  background-color: $govuk-blue;
}
