.bg-black {
  color: $white;
  background-color: $black;
}

.bg-pink {
  background-color: $pink;
}

.bg-orange {
  background-color: $orange;
}

.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.bg-grey {
  background-color: $grey-4;
}
