.accordion {

  border-bottom-width: 1px;
  border-bottom-color: $grey-1;
  border-bottom-style: solid;

  .accordion-section {
    border-top-width: 1px;
    border-top-color: $grey-1;
    border-top-style: solid;

    .accordion-section-header {
      cursor: pointer;
      position: relative;
      padding-top: 14px;
      padding-bottom:  12px;
    }

    .icon {

      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -8px;
      background-size: contain;
      background: url('../img/icons/plus.svg');

    }
  }

  .accordion-section[aria-expanded='false'] {
    .accordion-section-body {
      display: none;
    }
  }

  .accordion-section[aria-expanded='true'] .icon {
    background: url('../img/icons/minus.svg');
  }

}

.accordion-controls {
  text-align: right;
}

.accordion-expand-all {
  display: inline;
  background: transparent;
  border-width: 0;
  font-size: 16px;
  cursor: pointer;
}

