
.accordion-section {

  .accordion-section-header {
    cursor: pointer;
    position: relative;
    padding-top: 14px;
    padding-bottom:  12px;
  }

  .icon-plus {
    position: absolute;
    top: 50%;
    right: 32px;
    margin-top: -16px;
    background-size: contain;
    background: url('../img/icons/plus.svg');
  }

  &[aria-expanded='false'] {
    border-bottom-width: 1px;
    border-bottom-color: $grey-1;
    border-bottom-style: solid;

    .accordion-section-body {
      display: none;
    }
  }

  &[aria-expanded='true'] .icon-plus {
    background: url('../img/icons/minus.svg');
  }
}

