.badge {
  padding: 5px 14px 0;
  margin-right: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;

  a,
  a & {
    color: $white;
    text-decoration: none;
  }

  &.badge--large {
    padding: 6px 20px 2px;
  }

  &.bg-pink {
    color: $black;
    background-color: $baby-pink;
  }

  &.badge--border {
    color: $grey-2;
    border: 2px solid $grey-2;
  }

  &.bg-blue {
    background-color: $govuk-blue;
  }

  &.badge--fixed {
    margin-right: 0;

    @include media(tablet) {
      position: absolute;
      bottom: 0;
      right: 50%;
    }
  }

  &.badge--top {
    margin-right: 0;

    @include media(tablet) {
      position: absolute;
      bottom: 100%;
      right: 0;
    }
  }

  &.badge--flush {
    margin-left: -10px;

    @include media(tablet) {
      margin-left: -20px;
    }
  }
}
