.multiple-choice {
  &.multiple-choice--inline {
    clear: none;
  }
}
.form-hint {
  max-width: 60rem;
}

.form-hint--boolean {
  margin-left: -38px;
  clear: both;
  margin-top: 45px;
  display: block;
}
