$padding: 5px;

.padding-small {
  padding: $padding;

  @include media(tablet) {
    padding: $padding * 2;
  }
}

.padding-medium {
  padding: $padding * 2;

  @include media(tablet) {
    padding: $padding * 4;
  }
}

.padding-large {
  padding: $padding * 3;

  @include media(tablet) {
    padding: $padding * 6;
  }
}
