
$icon-dims: 16px;

[class*='icon-'],
.icon {
  width: $icon-dims;
  height: $icon-dims;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;

  &.icon--byline {
    position: absolute;
    left: -30px;
  }

  &.icon--large {
    width: $icon-dims * 2;
    height: $icon-dims * 2;
  }
}

.icon-tick {
  background-image: url('../img/icons/checkmark.svg');
}

.icon-tick-white {
  background-image: url('../img/icons/checkmark-white.svg');
}

.icon-tick-green {
  background-image: url('../img/icons/checkmark-green.svg');

  &.icon--large {
    background-size: $icon-dims * 2;
    background-position: center;
  }
}

.icon--circled {
  border-radius: 100%;
  border: 3px solid $green;
  padding: 5px;
  background-size: $icon-dims * 2;
  background-position: center;

  @include media(tablet) {
    padding: 10px;
  }

  &.icon--circled-white {
    border-color: $white;
  }
}

.icon-account-admin,
.icon-account {
  width: $icon-dims * 2;
  height: $icon-dims * 2;
  background-color: $grey-1;
  border-radius: 100%;
  background-image: url('../img/icons/user.svg');
}

.icon-account-admin {
  background-color: $govuk-blue;
}

.icon-calendar {
  background-image: url('../img/icons/calendar.svg');
}

.icon-warning {
  background-image: url('../img/icons/warning.svg');

  &.icon-warning--red {
    background-image: url('../img/icons/warning-red.svg');
  }
}
