
$icon-dims: 16px;

[class*='icon-'],
.icon {
  width: $icon-dims;
  height: $icon-dims;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;

  &.icon--byline {
    position: absolute;
    left: -30px;
  }

  &.icon--large {
    width: $icon-dims * 2;
    height: $icon-dims * 2;
  }
}

.icon-tick {
  background-image: url('../img/icons/checkmark.svg');
}

.icon-tick-white {
  background-image: url('../img/icons/checkmark-white.svg');
}

.icon-tick-green {
  background-image: url('../img/icons/checkmark-green.svg');

  &.icon--large {
    background-size: $icon-dims * 2;
    background-position: center;
  }
}

.icon-search {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $icon-dims * 2;
    background-image: url('../img/icons/search.svg');
  }

}

.circled {
  padding-left: .5em;
  padding-top: .5em;
  border-radius: 100%;
  width: ($icon-dims * 2) - 5px;
  height: ($icon-dims * 2) - 5px;
  text-align: center;

  span {
    margin-left: -.5em;
  }

  &.circled--blue {
    background-color: $govuk-blue;
    color: $white;
    font-weight: bold;
  }
}

.icon--circled {
  border-radius: 100%;
  border: 3px solid $green;
  padding: 3px;
  background-size: ($icon-dims * 2) - 5px;
  background-position: center;

  @include media(tablet) {
    padding: 5px;
  }

  &.icon--circled-white {
    border-color: $white;
  }

  &.icon--circled-green {
    border: 0;
    background-color: $button-colour;
  }
}

.icon-account-admin,
.icon-account {
  width: $icon-dims * 2;
  height: $icon-dims * 2;
  background-color: $grey-1;
  border-radius: 100%;
  background-image: url('../img/icons/user.svg');
}

.icon-account-admin {
  background-color: $govuk-blue;
}

.icon-calendar {
  background-image: url('../img/icons/calendar.svg');
}

.icon-warning {
  background-image: url('../img/icons/warning.svg');

  &.icon-warning--red {
    background-image: url('../img/icons/warning-red.svg');
  }
}
