// adding some base styles back in that seem to have
// been removed

b,
strong {
  font-weight: bold;
}

.long-form,
.lede {
  max-width: $text-max-width;
}

.long-form {
  margin-bottom: 1em;
}

.muted {
  color: $grey-2;
}

.white {
  color: $white !important;
}
