.hero {
  margin: 0 0 25px;
  padding: 0 0 30px;

  @include media(desktop) {
    margin-bottom: 30px;
    padding-bottom: 45px;
  }

  .hero-intro {
    margin: 0 15px;

    @include media(tablet) {
      margin: 0 30px;
      max-width: 960px;
    }

    @include media(1020px) {
      margin: 0 auto;
    }
  }

  // bit of de-writing part of the govuk css
  &.padded {
    margin-bottom: 15px;
    padding: 10px 0 15px;

    @include media(desktop) {
      margin-bottom: 20px;
      padding: 0 0 15px;
    }

    @include media(1020px) {
      padding: 0 30px 15px;
    }
  }

  &.border {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
  }

  // overrides for the hero area
  &.bg-dark {

    color: $white;

    a:link,
    a:visited {
      color: $white;
    }

    .heading-secondary {
      color: $white;
    }

    .button {
      box-shadow: 0 2px 0 darken($govuk-blue, 10%);
      background: $white;
      margin-right: 15px;
      padding-right: 1.25em;
    }

    summary {
      color: $white;
    }
  }
}


