
.comment-wrapper {
  margin-bottom: 30px;
}

.comments {
  padding: 15px;
  margin: 0 15px 15px;
  background-color: $white;

  @include media(tablet) {
    padding: 30px;
  }

  .comment-add {
    display: none;
  }

  &.comments--active {
    .comment-add {
      display: block;
    }
  }

  &.comments--new {
    position: relative;

    &:before {
      content: '';
      width: 6px;
      background-color: $govuk-blue;
      top: 0;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

}


.comments-header {
  overflow: hidden;
  padding: 15px 0 30px;
}

.hide-subject {
  .multi-hidden {
    display: none;
  }
}
