
.comment-wrapper {
  margin-bottom: 30px;
}

.comments {
  padding: 15px;
  margin: 0 15px 15px;
  background-color: $white;

  @include media(tablet) {
    padding: 30px;
  }

  .comment-add {
    display: none;
  }

  &.comments--active {
    .comment-add {
      display: block;
    }
  }
}

.comments-header {
  overflow: hidden;
  padding: 15px 0 30px;
}
