.hidden {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.quiet {
  font-weight: normal;

  [class*='heading-'] & {
    font-size: 19px;
  }
}

.clearfix {
  clear: both;
}

sup {
  font-size: 60%;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.baseline {
  vertical-align: bottom;
}

.relative {
  position: relative;
}

.align-centre {
  text-align: center;
}

.block {
  display: block;
  width: 100%;
}

.flexed {
  display: flex;
}

.no-underline {
  span {
    text-decoration:none;
    display: inline-block;
  }
}

.underline {
  border-bottom: 1px solid $grey-1;
}

.link-huge {
  background-color: $orange;
  padding: 30px 0;
  margin: 30px auto;
  display: block;
}

.js-hidden {
  display: none;
}

.bottom-border {

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;

    @include media(tablet) {
      width: 50%;
    }
  }


  &.bottom-border-bg-pink {
    .bg-pink:not(.dark) {
      background-color: $pink-40;
    }

    &::after {
      background-color: $pink-40;
    }
  }

  &.bottom-border-bg-green {
    .bg-green:not(.dark) {
      background-color: $turquoise-40;
    }

    &::after {
      background-color: $turquoise-40;
    }
  }

  &.bottom-border-bg-white {
    &::after {
      background-color: $white;
    }
  }

  &.bottom-border-bg-orange {
    .bg-orange:not(.dark) {
      background-color: $orange-40;
    }

    &::after {
      background-color: $orange-40;
    }
  }

  &.bottom-border-bg-brown {
    .bg-brown:not(.dark) {
      background-color: $brown-40;
    }

    &::after {
      background-color: $brown-40;
    }
  }
}

.bordered {
  border: 1px solid $green;
  overflow: hidden;
}

.constrained {
  max-width: 960px;
  margin: 0 15px;

  @include media(tablet) {
    margin: 0 30px;
  }

  @include media(1020px) {
    margin: 0 auto;
  }
}

.red {
  color: $red;
}
