.hidden {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.quiet {
  font-weight: normal;

  [class*='heading-'] & {
    font-size: 19px;
  }
}

sup {
  font-size: 60%;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.block {
  display: block;
  width: 100%;
}

.no-underline {
  span {
    text-decoration:none;
    display: inline-block;
  }
}

.underline {
  border-bottom: 1px solid $grey-1;
}

.bottom-border {

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;

    @include media(tablet) {
      width: 50%;
    }
  }

  &.bottom-border-bg-pink {
    &::after {
      background-color: $baby-pink;
    }
  }

  &.bottom-border-bg-green {
    &::after {
      background-color: $turquoise;
    }
  }

  &.bottom-border-bg-white {
    &::after {
      background-color: $white;
    }
  }

  &.bottom-border-bg-orange {
    &::after {
      background-color: $orange;
    }
  }

  &.bottom-border-bg-brown {
    &::after {
      background-color: $brown;
    }
  }
}

