.hidden {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.quiet {
  font-weight: normal;

  [class*='heading-'] & {
    font-size: 19px;
  }
}

sup {
  font-size: 60%;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.align-centre {
  text-align: center;
}

.block {
  display: block;
  width: 100%;
}

.no-underline {
  span {
    text-decoration:none;
    display: inline-block;
  }
}

.underline {
  border-bottom: 1px solid $grey-1;
}

$lighten-amount: 15%;

.bottom-border {

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;

    @include media(tablet) {
      width: 50%;
    }
  }

  &.bottom-border-bg-pink {
    .bg-pink:not(.dark) {
      background-color: lighten($baby-pink, $lighten-amount);
    }

    &::after {
      background-color: lighten($baby-pink, $lighten-amount);
    }
  }

  &.bottom-border-bg-green {
    .bg-green:not(.dark) {
      background-color: lighten($turquoise, $lighten-amount);
    }

    &::after {
      background-color: lighten($turquoise, $lighten-amount);
    }
  }

  &.bottom-border-bg-white {
    &::after {
      background-color: $white;
    }
  }

  &.bottom-border-bg-orange {
    .bg-orange:not(.dark) {
      background-color: lighten($orange, $lighten-amount);
    }

    &::after {
      background-color: lighten($orange, $lighten-amount);
    }
  }

  &.bottom-border-bg-brown {
    .bg-brown:not(.dark) {
      background-color: lighten($brown, $lighten-amount);
    }

    &::after {
      background-color: lighten($brown, $lighten-amount);
    }
  }
}

