.form-control {
  &.form-control-full {
    width: 100%;
  }
}

.legend {
  margin-bottom: 15px;
  font-weight: normal;
}

.form-hint {
  margin-bottom: 10px;
}

.form-group-hour {
  position: relative;

  &::after {
    content: ':';
    position: absolute;
    bottom: 5px;
    right: -13px;
  }
}

.form-group-5em {
  .form-control {
    width: 5em;
  }
}

.form-group {
  &.form-group--accent {
    padding: 15px;
    background-color: $white;
    border: 1px solid $black;
  }
}

.form-group--empty {
  textarea:invalid {
    & + .button {
      display: none;
    }
  }
}
