$icon-dims: 13px;

.list {


  > li {
    margin-bottom: 15px;

    &.update {
      position: relative;
      clear: both;

      &::before {
        content: '';
        position: absolute;
        width: 4px;
        background-color: $grey-1;
        left: 0;
        top: 0;
        bottom: 0;
      }
    }
  }

  &.list--indented {
    > li {
      padding-left: 15px;
    }
  }

  &.list-arrow {
    display: block;
    list-style-type: none;
    padding-left: 0;

    > li {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -($icon-dims / 2);
        width: $icon-dims;
        height: $icon-dims;
        background-image: url('../img/icons/chevron-right.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &.list-arrow--dark {
    li {
      &::after {
        background-image: url('../img/icons/chevron-right-white.svg');
      }
    }
  }
}
