.divider {
  clear: both;
  display: block;

  .grid-row & {
    margin-right: 15px;
    margin-left: 15px;
  }

  &.divider--thick {
    height: 4px;
    margin-right: 0;
    margin-left: 0;
  }

  &.divider--green {
    background-color: $green;
  }
}
