.autocomplete {
  position: relative;

  .autocomplete-list {
    position: absolute;
    border: 1px solid $grey-2;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: $white;
    z-index: 100;
    width: auto;
    color: $black;
    -webkit-overflow-scrolling:  touch;
  }

  .autocomplete-item {
    cursor: pointer;
    padding: 6px 10px;
  }

  .autocomplete-item-last {
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
}

.autocomplete-group {
  position: relative;
  border-bottom: 1px solid $grey-2;
  padding: 10px 0;

  .autocomplete-item {
    padding-left: 100px;

    &.active,
    &:hover {
      background-color: $grey-1;
    }
  }
}


