

.progress--inverted {
  .progress__items {
    margin-left: 0;
    margin-right: 0;
  }
}

.progress__item {
  text-align: center;
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px;

  .align-left & {
    text-align: left;
  }

  @include media(tablet) {
    position: static;
    padding-bottom: 0;
  }

  .progress--inverted & {
    text-align: left;
    opacity: .4;

    &.progress__item--pending {
      opacity: .75;

      .divider {
        opacity: .75;
      }
    }

    &.progress__item--complete {
      opacity: 1;

      .divider {
        opacity: 1;
      }
    }

    p {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 15px;

      @include media(tablet) {
        display: block;
        margin-bottom: 1.25em;
        margin-right: 0;
      }

    }

    .divider {
      background-color: $white;
      opacity: .4;
      top: 100%;

      @include media(tablet) {
        top: auto;
      }
    }
  }

}
