

.progress--inverted {
  .progress__items {
    margin-left: 0;
    margin-right: 0;
  }
}

.progress__item {
  text-align: center;
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px;

  @include media(tablet) {
    position: static;
    padding-bottom: 0;
  }

  .progress--inverted & {
    text-align: left;
    opacity: .5;

    &.progress__item--current {
      opacity: 1;

      .divider {
        opacity: 1;
      }
    }

    .divider {
      background-color: $white;
      opacity: .5;
    }
  }

}
